<h1>StaticPages#home</h1>
<!-- <p>Find me in app/views/static_pages/home.html.erb</p> -->

<% if current_user %>
  Welcome <%= current_user.username %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <!-- <%= simple_format @user_groups.to_yaml %> -->
  <h2>I tuoi gruppi</h2>
  <ul>
      <% @user_groups.each do |u| %>
        <li>
          <%= link_to "/groups" do %>
            <%= u.name %>
          <% end %>
        </li>
      <% end %>
  </ul>

<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
